<div>
  <div>
    <p>
      Sometimes you've got a PDF that has some restrictions (e.g. unable to copy
      text from it, print it or comment it).
    </p>
    <p>
      LiberatePDF2 allows you to remove all restrictions and enable you to work
      with your PDF as you want to.
    </p>
  </div>
  <ol class="steps">
    <li>
      <div class="form-group">
        <label
          >If the next PDFs you upload need a password to be viewed, enter it
          here (leave empty if none is needed):
          <input
            type="text"
            class="form-control"
            #password
            placeholder="Password"
          />
        </label>
      </div>
    </li>
    <li>
      <div>
        <p>Select the PDFs you want to be unrestricted.</p>
        <ul>
          <li>The selected PDFs will be uploaded immediately.</li>
          <li>
            The maximum file size is
            <span
              >{{ maximumFileSize! / 1024 / 1024 | number: "1.0-1" }} MB.</span
            >
          </li>
          <li>
            The original and processed PDFs will be stored on the server for
            <span
              class="tooltip-available"
              title="1) we would like to try some data mining 2) and preserve knowledge in case of 'de-publication'"
              >research purposes</span
            >.
          </li>
        </ul>

        <div class="form-group">
          <label
            class="btn"
            [ngClass]="
              transferFiles.length === 0 ? 'btn-primary' : 'btn-secondary'
            "
            >Browse and upload PDFs<input
              hidden="hidden"
              type="file"
              (change)="onFileChanged($event, password.value)"
              placeholder="Upload file"
              accept=".pdf"
              multiple="multiple"
            />
          </label>
        </div>
      </div>
    </li>

    <li *ngIf="transferFiles.length > 0">
      <div *ngIf="transferFiles.length > 0">
        <p>
          Please wait for your PDFs to be processed and download them when they
          are ready:
        </p>

        <table class="table">
          <thead>
            <tr>
              <th>File</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let transferFile of transferFiles"
              class="{{ transferFile.status }}"
            >
              <td>
                <a
                  class="btn"
                  href="{{ url }}/v1/documents/{{ transferFile.id }}"
                  >{{ transferFile.name }}</a
                >
              </td>
              <td>{{ transferFile.statusText }}</td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="transferFiles.length > 1">
          <a
            class="btn btn-primary"
            href="{{ url }}/v1/documents/zip?ids={{ commaSeperatedDoneFiles }}"
            >Download all ready files</a
          >
        </div>
      </div>
    </li>
  </ol>
</div>
