<div>
	<ol class="steps">
		<li>
			<div class="form-group">
				<label>Password for encrypted PDF files (leave empty if
					none) <input type="text" class="form-control" #password
					placeholder="Password" />
				</label>
			</div>
		</li>
		<li>
			<div class="form-group">
				<p class="header">Select the PDF files you want to be
					unrestricted.</p>
				<ul>
					<li>Selected file(s) will be uploaded immediately.</li>
					<li>Maximum file size is <span>{{maximumFileSize/1024/1024
							| number : '1.0-0'}} MB.</span></li>
					<li>Original and processed files will be stored on the server
						for research proposes.</li>
				</ul>
				<label class="btn btn-primary">Browse and upload files<input
					hidden="hidden" type="file"
					(change)="onFileChanged($event, password.value)"
					placeholder="Upload file" accept=".pdf" multiple="multiple">
				</label>
			</div>
		</li>
	</ol>
</div>

<div *ngIf="transferFiles.length > 0">
	<h2>Files</h2>
	<table class="table">
		<thead>
			<tr>
				<th>File</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let transferFile of transferFiles"
				class="{{transferFile.status}}">
				<td><a class="btn"
					href="{{url}}/api/v1/documents/{{transferFile.id}}">{{transferFile.name}}</a></td>
				<td>{{transferFile.statusText}}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- 
<div>
	<h2>Maximum file size</h2>
	<p>Check out, what's the maximum file size allowed for upload.</p>
	<button class="btn btn-secondary" (click)="getMaximumFileSize();">Get
		Maximum File Size</button>
	<p *ngIf="maximumFileSize">
		<label>Maximum File Size:</label> <span>{{maximumFileSize/1024/1024}}
			MB</span>
	</p>
</div> -->