<div>
	<ol class="steps">
		<li>
			<div class="form-group">
				<label>Password for encrypted PDF files (leave empty if
					none) <input type="text" class="form-control" #password
					placeholder="Password" />
				</label>
			</div>
		</li>
		<li>
			<div class="form-group">
				<p class="header">Select the PDF files you want to be
					unrestricted.</p>
				<ul>
					<li>Selected file(s) will be uploaded immediately.</li>
					<li>Maximum file size is <span>{{maximumFileSize/1024/1024
							| number : '1.0-0'}} MB.</span></li>
					<li>Original and processed files will be stored on the server
						for <span class="tooltip-available" title="1) we would like to try some data mining 2) and preserve knowledge in case of 'de-publication'">research purposes</span>.</li>
				</ul>
				<label class="btn"
					[ngClass]="transferFiles.length === 0 ? 'btn-primary' : 'btn-secondary'"><i
					class="fa fa-upload" aria-hidden="true"></i> Browse and upload
					files<input hidden="hidden" type="file"
					(change)="onFileChanged($event, password.value)"
					placeholder="Upload file" accept=".pdf" multiple="multiple">
				</label>
			</div>
		</li>

		<li *ngIf="transferFiles.length > 0">
			<div *ngIf="transferFiles.length > 0">

				<p>Wait for your files to be processed and download them when
					they are ready:</p>

				<table class="table">
					<thead>
						<tr>
							<th>File</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let transferFile of transferFiles"
							class="{{transferFile.status}}">
							<td><a class="btn"
								href="{{url}}/api/v1/documents/{{transferFile.id}}">{{transferFile.name}}</a></td>
							<td>{{transferFile.statusText}}</td>
						</tr>
					</tbody>
				</table>

				<div *ngIf="transferFiles.length > 1">
					<a class="btn btn-primary"
						href="{{url}}/api/v1/documents/zip?id={{doneFilesCommaSeperated}}"><i
						class="fa fa-download" aria-hidden="true"></i> Download all ready
						files</a>
				</div>

			</div>
		</li>
	</ol>
</div>

<!-- 
<div>
	<h2>Maximum file size</h2>
	<p>Check out, what's the maximum file size allowed for upload.</p>
	<button class="btn btn-secondary" (click)="getMaximumFileSize();">Get
		Maximum File Size</button>
	<p *ngIf="maximumFileSize">
		<label>Maximum File Size:</label> <span>{{maximumFileSize/1024/1024}}
			MB</span>
	</p>
</div> -->